<!-- STANDARD IMAGE SMALL -->
<section class="module" data-background="assets/images/hero-rwc-three-alt.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-9">
<p><br><br><br><br><br><br></p>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->

<!-- STANDARD -->
<section class="module">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-10">
<h2 class="font-serif">
RWC helps clients think about their business in new ways, through the lenses of design, people, and culture. The team brings years of experience in business, design, and innovation. They have honed their unique approaches within startups and being deeply embedded in Fortune 500 companies. RWC Studio dissolves the silos and traditional practices in order to help partners get unstuck, modernized, and to move forward strategically and collectively.
</h2>
</div>
</div>
</div>
</section>	

<section class="module-small bg-light">
<div class="container">

<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4">	
<p><left>
<img src="assets/images/img-elliott.jpg" width="200">
</left></p>
<h3 class="font-alt">Elliott Williams</h3>

<p>Honed business and design strategy at 2nd Road, PNC Bank, and as a leader in tech.</p> 

<p>Launched start-ups like Catapult and Legalsifter, and raised $8 Million.</p>

<p>Advocates the role of organizational culture to drive innovation.</p>

<p>Knows when a problem requires slower, iterative approaches and when it needs to be disrupted.</p>

<p>Patented work in machine learning and legal documentation.</p>

<p>MIT, Cognitive Science; Carnegie Mellon, Human-Computer Interaction, Tepper School of Business.</p>

</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<p><left>
<img src="assets/images/img-alex.jpg" width="200">
</left></p>
<h3 class="font-alt">Alex Wilcox Cheek</h3>

<p>Carnegie Mellon professor for 10 years in Design, Business, and Information Systems.</p> 

<p>Leads multidisciplinary teams that drive transformation in large organizations.</p>

<p>Entrepreneur and designer in one. Co-founded Macromicro, Classroom Salon, and Skale.</p>

<p>Believes in design’s unique abilities to dissolve silos and lead collective change.</p>

<p>Patented work in data visualization, social currency, and online learning.</p>

<p>Carnegie Mellon University, Design, English, and Computer Science.</p>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<p><left>
<img src="assets/images/img-phil.jpg" width="200">
</left></p>

<h3 class="font-alt">Phil Robinson</h3>

<p>Agency and studio experience working with Nike, L’Oreal, Verizon, Goldman Sachs, Tiffany & Co, McDonalds, and Intel.</p> 

<p>Designed the Jet.com site that led to a $3.3 Billion valuation.</p>

<p>Patented work in Internet of Things, shipping and logistics.</p>

<p>Experience strategist and futurist who sees design as a catalyst for transforming organizations into the modern age.</p>

<p>Transatlantic tech guru, chef, and sneaker aficionado.</p>

<p>Carnegie Mellon University, Design.</p>
</div>
</div>
</div>
</section>

<section class="module">
<div class="container">


<div class="row">
<div class="col-sm-12 col-md-8 col-lg-8">	
<h3 class="font-alt">Richard Eckel</h3>

<p>Senior Director, Business Development</p> 

<p>Rich is a leader in sales, business development, and marketing. He is experienced in the tech start-up space, helped found Macromicro, and is a specialist in early-stage growth. He believes in the transformative capacity of design thinking to guide strategy and growth. He earned an MBA from Babson in Entrepreneurship, business strategy, and marketing.</p>

<p><a href="mailto:rich@rwc.studio">Email</a>&emsp;|&emsp;<a href="https://www.linkedin.com/in/richardeckel/" target="_blank">Linkedin</a></p>
<div class="col-sm-12 col-md-4 col-lg-4">
<p>&emsp;</p>
</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
<p>&emsp;</p>
</div>
</div>
</div>
</section>


<section class="module bg-light">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12 col-md-10 col-lg-6">
<h3 class="font-alt">Our Values</h3>
</div>
</div>
<!-- /MODULE TITLE -->

<div class="row">
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Silo Free</h4>
<p>Working on one project or within one business unit is not usually the best way to advance long-term, large-scale change. We’ve tried. More often than not, organizational boundaries and siloed thinking creates stagnation and gridlock. We seek integrative thinking across companies and action that brings together multitudes of stakeholders.</p>
</div>
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Human Centeredness</h4>
<p>Creating the future and moving people to innovate isn’t done solely through numbers and analytics. We believe in the human process of discourse, debate, and alignment. Our frameworks are a systematic way to frame human ecologies and wicked problems that don’t make it into a spreadsheet, and then acting on them critically and collectively.</p>
</div>
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Making the Complex Clear</h4>
<p>Problems of business, technology, and the human experience are complex. Simplification has its risks: you can lose resolution, the social dimension, or the interconnections. Our heuristics clarify the complexity without simplifying it.</p>
</div>
</div>	
<div class="row">
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Iterative Solutions</h4>
<p>Blue sky. Focus groups. Market reports. Cool. Unfortunately, these approaches provide generalized guidance, short term solutions, or direction that leads into corners. They show us what doesn’t work. We test ideas through experimentation, nudging systems from all sides. This helps our teams learn fast, align to a clear direction, and get to more sound solutions faster.</p>
</div>
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Risk Taking</h4>
<p>Innovation is full of incomplete information and insufficient data, but decisions still need to be made. We believe in taking risks because what choice is there? We work with companies to understand how to fill information gaps with strategic-first principles, company and audience values, and how to follow hunches with confidence.</p>
</div>
<div class="col-sm-12 col-md-10 col-lg-4">
<hr><h4>Balance</h4>
<p>We seek middle-way outcomes that balance the needs of business strategy and stakeholder needs; efficiency and experience; the bureaucrat and the risk-taker. Too much emphasis in either direction leads to being stuck with “the way things have always been done” or risk too great to assume. Truly innovative solutions harmonize the two sides.</p>
</div></div>
<!-- /MODULE TITLE -->
</div>
</section>
