<!-- STANDARD -->
<section class="module">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-10 col-lg-10">
<h2 class="font-serif">
Reach out to learn how to drive strategy and change through a different lens.
</h2>
</div>
</div>
</div>
</section>	

<section class="module-small bg-light">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4">
<!-- The contact form -->
<form method="post" name="contactform" action="form.php">
<div class="form-group">
Name<br>
<input type="text" value="" name="name" class="form-control">
<br>
<div class="help-block with-errors">
</div>
</div>
<div class="form-group">
Company<br>
<input type="text" value="" name="company" class="form-control">
<br>
<div class="help-block with-errors">
</div>
<div class="col-sm-8">
<div class="form-group">
Email<br>
<input type="email" value="" name="email" class="required email form-control" id="mce-EMAIL" required>
<br>
<div class="help-block with-errors">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<div class="form-group">
Message<br>
<input type="text" value="" name="message" class="form-control">
<br>
<div class="help-block with-errors">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<div class="form-group">
<input type="submit" name="submit" value="Send" class="btn btn-g">
</div>
</form>
<!-- Contact form end -->

</div>
</div>
</div>
</section>

<!-- STANDARD IMAGE SMALL -->
<section class="module module-parallax bg-dark-60" data-background="assets/images/hero-elliott.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12 col-md-9">
<p><br><br><br><br><br><br><br></p>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->
