
<!-- STANDARD IMAGE SMALL -->
<section section id="hero" class="module-hero module-parallax module-full-height">
<div class="hero-caption">
<!-- MODULE TITLE -->
<div class="hero-text">
<img src="assets/images/wwlogo.png" img style='height: 15%; width: 15%; object-fit: contain'><br><br>
<h2>Design is Strategy for Change.</h2>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->


<!-- STANDARD IMAGE SMALL -->
<section class="module-small bg-light">
<div class="container">
<!-- MODULE TITLE -->
<div class="row col-lg-offset-1">
<div class="col-sm-12 col-md-10 col-lg-9">
<h2>Wilcox Williams helps companies transform themselves through new thinking, innovative services, and organizational design. We help companies actively create their future.</h2>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->


<section id="portfolio" class="module">

<div class="container">

<!-- WORKS GRID -->
<div class="row">

<div id="works-grid" class="works-grid works-hover-w">

<!-- DO NOT DELETE THIS DIV -->
<div class="grid-sizer"></div>

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<a href="ourwork.html">
<img src="assets/images/img-1.jpg" alt="">
<div class="work-caption font-alt">
<h3 class="work-title">Service Design</h3>
</div>
</a>
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<a href="ourwork.html">
<img src="assets/images/img-2.jpg" alt="">
<div class="work-caption font-alt">
<h3 class="work-title">Organization Design</h3>
</div>
</a>
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<a href="ourwork.html">
<img src="assets/images/img-3.jpg" alt="">
<div class="work-caption font-alt">
<h3 class="work-title">New Ventures</h3>
</div>
</a>
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<a href="ourwork.html">
<img src="assets/images/img-4.jpg" alt="">
<div class="work-caption font-alt">
<h3 class="work-title">Corporate Education</h3>
</div>
</a>
</div>
<!-- /PORTFOLIO ITEM -->

</div>
</div>
</div>
</section>


<!-- STANDARD PARALLAX -->
<section class="module module-parallax bg-light-45" data-background="assets/images/hero-bucky.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12">
<div class="module-subtitle font-serif">&emsp;</div>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD PARALLAX -->


<!--LOGOS-->
<section class="module">
<div class="container">
<div class="row col-lg-offset-2">
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/2ndroad.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-1">
<p><left>
<img src="assets/images/logos/gsk.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-1">
<p><left>
<img src="assets/images/logos/mcdonalds.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/bnymellon.png"> 
</left></p>
</div>
</div><br>
<div class="row col-lg-offset-2">
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/pnc.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-3">
<p><left>
<img src="assets/images/logos/upmc.png"> 
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-2">
<p><left>
<img src="/assets/images/logos/nokia.png">
</left></p>
</div>
</div><br>
<div class="row col-lg-offset-2">
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/highmark.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-3">
<p><left>
<img src="assets/images/logos/northwesternmutual.png"> 
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/learnvest.png">
</left></p>
</div>
</div><br>
<div class="row col-lg-offset-2">
<div class="col-sm-3">
<p><left>
<img src="assets/images/logos/carnegiemellon.png">
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/motorola.png"> 
</left></p>
</div>
<div class="col-sm-1">
<p>&emsp;</p>
</div>
<div class="col-sm-2">
<p><left>
<img src="assets/images/logos/microsoft.png">
</left></p>
</div>
</div>
</div>
</section>		
