<!-- STANDARD IMAGE SMALL -->
<section section id="hero" class="module-hero module-parallax module-full-height" data-background="assets/images/ww-hero.png">
<div class="hero-caption">
<!-- MODULE TITLE -->
<div class="hero-text">
<h1>Let’s Create Great Experiences Together.</h1>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->


<!-- STANDARD IMAGE SMALL -->
<section class="module-small bg-dark">
<div class="container">
<!-- MODULE TITLE -->
<div class="row col-lg-offset-1">
<div class="col-sm-12 col-md-10 col-lg-9">
<h2>Wilcox Williams helps start-ups and established companies shape their future through human-centered design, strategy, and new approaches to innovation.</h2>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->
	
<!-- STANDARD PARALLAX -->
<section class="module module-parallax bg-dark-30" data-background="assets/images/hero-whiteboard.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12">
<center><a href="work.html"><h3 class="font-alt">Strategy.&emsp;&emsp;Culture.&emsp;&emsp;Experience.</h3></a></center>
</div>
</div>
<div class="row">
<div class="col-sm-12"><center>
<a href="work.html"><h3 class="font-alt">We transform organizations and experiences through design.</h3></a></center>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD PARALLAX -->


<!--LOGOS-->
<section id="portfolio" class="module">

<div class="container">

<!-- WORKS GRID -->
<div class="row">

<div id="works-grid" class="works-grid works-hover-w">

<!-- DO NOT DELETE THIS DIV -->
<div class="grid-sizer"></div>

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/pnc.png" alt="PNC">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/bnymellon.png" alt="BNY Mellon">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/upmc.png" alt="UPMC">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/legalsifter.png" alt="LegalSifter">
</div>
<!-- /PORTFOLIO ITEM -->
		
<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/ge.png" alt="GE">
</div>
<!-- /PORTFOLIO ITEM -->
		
<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/gsk.png" alt="GSK">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/mcdonalds.png" alt="McDonalds">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/2ndroad.png" alt="Second Road">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/carnegiemellon.png" alt="Carnegie Mellon University">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/nokia.png" alt="Nokia">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/mit.png" alt="MIT">
</div>
<!-- /PORTFOLIO ITEM -->

<!-- PORTFOLIO ITEM -->
<div class="work-item">
<img src="assets/images/logos/vodafone.png" alt="Vodafone">
</div>
<!-- /PORTFOLIO ITEM -->

</div>
</div>

</DIV>	
</section>
