<!-- STANDARD -->
<section class="module">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-10 col-lg-10">
<h2 class="font-serif">
We help organizations adopt forward-thinking and innovative approaches to the future. Our work leads to engaging products and services, new organizational practices, heightened efficiencies, and market innovation.
</h2>
</div>
</div>
</div>
</section>	

<section class="module-small bg-light">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Strategic Design</h4>
<p>Problem Framing<br>
Quantitative & Qualitative Research<br>
Creating New Ventures<br>
Future Visioning<br>
Product and Experience Strategies<br>
Design Thinking Made Real
</p>

</div>
<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Organization & Culture</h4>
<p>Stakeholder Alignment<br>
Creating New Processes<br>
Cultural Change<br>
Building Innovative Teams<br>
Making Strategy a Reality</p>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Designing Experiences</h4>
<p>Innovative Product & Service Design<br>
Digital Transformation<br>
Human-Centered and Data-Driven<br>
Zero-Based Design<br>
Collaboration Across Silos
</p>
</div>
</div>
</div>
</section>

<!-- STANDARD IMAGE SMALL -->
<section class="module module-parallax bg-dark-60" data-background="assets/images/hero-alex.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12 col-md-9">
<h3 class="font-alt">“Products, experiences, organizational culture, and business strategy are all connected, and when we design better futures, we have to think about these as one. Then you can drive innovation and transformation.”</h3><h4 class="font-alt">Alex Wilcox Cheek</h4>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->

<section class="module">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Future of Healthcare</h4>
<p>Our team connected patient experience with organizational strategy and created an actionable framework for a vast hospital network’s outpatient facilities. Our methods transcended the silos that inhibited growth, collaboration, and the patient experience.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Internal Disruption</h4>
<p>We embedded in a long-established bank and helped grow an incubator for innovation. The new teams developed a venture pipeline of fintech business and set the stage for internal disruption.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
<h4 class="font-alt">Digital Transformation</h4>
<p>At a respected leader in life insurance, we aligned product, design, engineering, and business teams to a cohesive and clear digital strategy. Before serious innovation, this company had to find its footing in an unfamiliar digital age.</p>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>

<!-- STANDARD IMAGE SMALL -->
<section class="module module-parallax bg-dark-60" data-background="assets/images/hero-whiteboard2.jpg">
<div class="container">
<!-- MODULE TITLE -->
<div class="row">
<div class="col-sm-12 col-md-9">
<h3 class="font-alt">Design thinking and action in your business drives revenue and shareholder returns at nearly twice the rate of industry counterparts. It makes you more adaptable to changing landscapes. And it creates engagements with stakeholders that are meaningful.</h3><h3 class="font-alt">We bring extensive expertise to you with a personalized, bespoke approach.</h3>
</div>
</div>
<!-- /MODULE TITLE -->
</div>
</section>
<!-- /STANDARD IMAGE SMALL -->
